:root {
  --clr-accent: hsl(253 100% 58%);
  --clr-accent-dark: hsl(253 100% 40%);
  --clr-grey-100: hsl(0 0% 97%);
  --clr-grey-500: hsl(0 0% 70%);
  --clr-grey-900: hsl(0 0% 13%);
}
/* //////////////// */
/* Reset */
/* //////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

i {
  font-style: normal;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 100ms ease-in-out;
}
a:hover {
  color: var(--clr-accent);
  transition: color 100ms ease-in-out;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: var(--clr-grey-900);
  display: grid;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.75rem;
}
p {
  font-size: 1.2rem;
  opacity: 0.7;
}
main {
  display: grid;
}
/* ///////////////////// */
/* Utils */
/* /////////////////// */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    padding-inline: 2em;
  }
}
.button {
  background-color: var(--clr-accent);
  color: var(--clr-grey-100);
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: var(--clr-accent-dark);
}
/* Section Header */

.section-header {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-grey-500);
  position: relative;
  margin-block: 2em;
}
.section-header span {
  background-color: white;
  display: inline-block;
  padding-inline: 1em;
  margin-left: -1em;
}
.section-header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--clr-grey-500);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}
/* ///////////////// */

/* Header */
.primary-header {
  padding-block: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.primary-header .logo {
  display: flex;
  align-items: center;
}
.primary-header .logo span {
  font-size: 1.5em;
  font-weight: bold;
}
.primary-header .logo img {
  height: 2rem;
  margin-right: 1em;
}
.primary-header nav ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

/* Burger Styling */
#burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 35px;
  cursor: pointer;
  z-index: 200;
}
#burger .line {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--clr-grey-900);

  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .primary-header nav ul {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3em;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: var(--clr-accent);
    color: white;
    z-index: 100;
    font-size: 1.2rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }
  .primary-header nav ul.show {
    left: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: all;
  }
  .primary-header nav ul .button {
    background: white;
    color: var(--clr-accent);
  }
  #burger.fix {
    position: fixed;
    top: 2em;
    right: 2em;
    --clr-grey-900: white;
  }
  #burger {
    display: flex;
  }
  #team.show-more {
    max-height: 40em;
    overflow: hidden;
    mask-image: linear-gradient(180deg, white, white, transparent);
    -webkit-mask-image: linear-gradient(180deg, white, white, transparent);
  }
  .container[data-section='team'] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Hero Section */
#hero {
  margin-block: 5em;
}
#hero p {
  max-width: 600px;
  width: 100%;
  margin-block: 1em 2em;
}
#hero .button {
  font-weight: 500;
  font-size: 1.2rem;
  padding-inline: 1.5em;
}

/* Services */
#services {
  margin-block: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 5em 10vw;
}
#services .service {
  display: grid;
  grid-template-columns: fit-content(100px) 1fr;
  grid-template-rows: calc(1.5 * 1.5) em 1fr;
  gap: 0.5em 2em;
}

.service svg {
  grid-row: span 2;
  align-self: center;
}
.service h3 {
  align-self: flex-end;
}
.service p {
  align-self: flex-start;
}
/* Clients */

#clients {
  margin-block: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5em;
  /* grid-template-rows: repeat(3, 1fr); */
  place-items: center;
}
#clients img {
  flex-basis: 1;
}

/* Team */

#team {
  margin-block: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4em;
  place-items: center;
  transition: all 300ms ease-in;
}
#team .team-member {
  display: flex;
  align-items: center;
  gap: 2em;
}

#show-more {
  display: block;
  background-color: white;
  color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  margin-block: -1.25em 1.5em;
}
#show-more:hover {
  background-color: var(--clr-accent);
  color: white;
}

@media screen and (min-width: 768px) {
  #show-more {
    display: none;
  }
}

.team-member img {
  border-radius: 50%;
  height: 5em;
}

/* Footer */

.primary-footer {
  background-color: var(--clr-grey-100);
}

.primary-footer .container {
  display: flex;
  justify-content: space-between;
  padding-block: 1em;
}

.primary-footer .container img {
  height: 2rem;
}
.primary-footer .container ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.primary-footer .container ul a {
  color: var(--clr-grey-500);
  font-size: 1.2em;
  transition: color 100ms ease-in-out;
}
.primary-footer .container ul a:hover {
  color: var(--clr-accent);
  transition: color 100ms ease-in-out;
}

/* @media screen and (min-width: 768px) {
  .primary-footer .container ul {
    flex-direction: column;
  }
} */

@media screen and (max-width: 576px) {
  #services .service {
    grid-template-columns: 1fr;
    text-align: center;
    place-items: center;
  }
}
