@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
      17.52deg,
      rgba(253, 3, 3, 0.53) 0%,
      rgba(83, 3, 253, 0) 42.37%
    ),
    linear-gradient(
      243.18deg,
      rgba(227, 88, 2, 0.69) 0%,
      rgba(218, 10, 250, 0) 50%
    ),
    linear-gradient(116.82deg, #fdcb03 0%, #e38902 100%);
  /* overflow: hidden; */
  position: relative;
  overflow: hidden;
}
.circle {
  border-radius: 50%;
  background: #f8f5ff;
  opacity: 0.5;
  position: absolute;
  aspect-ratio: 1;
  z-index: -1;
}
.left {
  width: 10em;
  bottom: -10%;
  left: -10%;
}
.right {
  width: 5em;
  top: -10%;
  right: -10%;
}
section {
  background: rgba(8, 0, 25, 0.3);
  box-shadow: -15px 17px 40px rgba(8, 0, 25, 0.25);
  border-radius: 20px;
}
.sidebar {
  background: rgba(8, 0, 25, 0.4);
  backdrop-filter: blur(100px);
  border-radius: 20px 20px 0 0;

  box-shadow: inset 0px 4px 3px rgba(248, 245, 255, 0.26);
}

.sidebar button {
  background: linear-gradient(98.05deg, #ffc120 2.07%, #f54e19 100%);
  box-shadow: inset -4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: none;
  color: var(--black);
}

.main {
  /* border-radius: 0 20px 20px 0; */
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(50px);
  box-shadow: inset -3px 4px 3px rgba(248, 245, 255, 0.26);
}

@media screen and (min-width: 768px) {
  .left {
    width: 50em;
    bottom: -20%;
    left: -20%;
  }
  .right {
    width: 20em;
  }
  .sidebar {
    border-radius: 20px 0 0 20px;
  }
  .main {
    border-radius: 0 20px 20px 0;
  }
}
