:root {
  --white: 259 98% 98%;
  --black: 259 98% 5% 1;
  --icon-grad: linear-gradient(
    180deg,
    rgba(248, 245, 255, 0.46) 0%,
    rgba(248, 245, 255, 0.8) 100%
  );
}

/* **************** */
/* Utility Classes */
/* ************** */

.grad-text {
  /* Adding Gradient in text */
  background: var(--icon-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* ************** */
/* Layout styles */
/* ************** */
.container {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1em;
  overflow: hidden;
}
section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2em 1em;
  z-index: 1;
  gap: 2em;
}

.main {
  height: 100%;
  padding: 2em 1em;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2em 5em;
  }
  section {
    grid-template-columns: 1fr 3fr;
  }
  .sidebar {
    gap: 3em;
    padding: 2em;
  }
  .main {
    padding: 2em;
  }
}

/* ************** */
/* Sidebar Styles */
/* ************** */
.user-profile {
  display: flex;
  gap: 1em;
  align-items: center;
  color: hsl(var(--white));
}
#user-image {
  aspect-ratio: 1;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  font-weight: 600;
}
.status {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.menu {
  display: flex;
  gap: 3em;
}
.menu-item {
  display: flex;
  gap: 2em;
}
.menu-item img {
  width: 20px;
}
.item {
  font-weight: 600;
  font-size: 1.2rem;
  display: none;
}
.sidebar button {
  display: none;
  padding: 0.7em 2.5em;
  gap: 2em;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .user-profile {
    flex-direction: column;
  }
  #user-image {
    width: 100px;
  }
  .user-details {
    text-align: center;
  }
  .menu {
    flex-direction: column;
  }
  .menu-item img {
    width: 30px;
  }
  .item {
    display: block;
  }
  .sidebar button {
    display: flex;
  }
}

/* ************************ */
/* Main Section Starts Here */
/* ************************ */

.main h1 {
  color: hsl(var(--white));
  font-size: 1.5rem;
  font-weight: 600;
}
form {
  background: #08001966;
  display: flex;
  border-radius: 30px;
  width: 100%;
  padding: 0.5em 1.5em;
  margin-block: 1em 2.5em;
}
form input[type='text'] {
  flex: 1;
}
form input[type='text']::placeholder {
  color: hsl(var(--white) / 0.5);
}

form input[type='text'],
button {
  background: transparent;
  color: white;
  outline: none;
  border: none;
}
.card-array {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: stretch;
  align-items: stretch;
}
.card {
  display: flex;
  background: #08001980;
  border-radius: 1em;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}
.card-image {
  /* aspect-ratio: 1; */
  width: 50px;
  height: 50px;
  border-radius: 1em;
  object-fit: cover;
}
.card .game-details {
  color: hsl(var(--white));
  flex: 2;
}
.card h2 {
  flex: 0.5;
  display: none;
  font-weight: 700;
  font-size: 2rem;
}
.progress {
  background: rgba(8, 0, 25, 0.8);
  border-radius: 1em;
  height: 1em;
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
}
.bar {
  background: linear-gradient(98.05deg, #ffc120 2.07%, #f54e19 100%);
  height: 100%;
}
.card .game-details meter {
  height: 2em;
  width: 100%;
}
.card .game-details meter::-webkit-meter-bar {
  background: transparent;
}

.card .game-details h3 {
  font-weight: 600;
  font-size: 1rem;
}
.card .game-details p {
  font-size: 0.8rem;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .main h1 {
    font-size: 2rem;
  }
  .card {
    gap: 3em;
    align-items: center;
  }
  .progress {
    height: 1.5em;
  }
  .card h2 {
    display: block;
  }
  .card-image {
    width: 100px;
    height: 100px;
  }
  .card .game-details h3 {
    font-size: 1.5rem;
  }
  .card .game-details p {
    font-size: 1rem;
  }
}
