:root {
  --white: 259 98% 98%;
  --black: 259 98% 5% 1;
  --icon-grad: linear-gradient(
    180deg,
    rgba(248, 245, 255, 0.46) 0%,
    rgba(248, 245, 255, 0.8) 100%
  );
}

/* **************** */
/* Utility Classes */
/* ************** */

.grad-text {
  /* Adding Gradient in text */

  background: var(--icon-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* ************** */
.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsl(var(--white));
}
.username {
  font-weight: 600;
}
.status {
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.menu-item {
  display: flex;
  gap: 2em;
}
.menu-item img {
  width: 30px;
}
.item {
  font-weight: 600;
  font-size: 1.2rem;
}
.sidebar button {
  background: linear-gradient(98.05deg, #ffc120 2.07%, #f54e19 100%);
  box-shadow: inset -4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: none;
  display: flex;
  padding: 0.7em 2.5em;
  gap: 2em;
  font-size: 1rem;
  color: var(--black);
  font-weight: 500;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
/* ************************ */
/* Main Section Starts Here */
/* ************************ */

.main {
  padding: 3em 2em;
}
.main h1 {
  color: hsl(var(--white));
  font-size: 3rem;
}
form {
  background: #08001966;
  display: inline-block;
  border-radius: 30px;
  padding: 0.5em 1.5em;
  margin-block: 1em 2.5em;
}
form input[type='text'],
button {
  background: transparent;
  outline: none;
  border: none;
}
.card-array {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: stretch;
  align-items: stretch;
  width: 90%;
}
.card {
  display: flex;
  background: #08001980;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 3em;
}
.card .game-details {
  color: hsl(var(--white));
  flex: 2;
}
.card h2{
  flex: 0.5;
}
.progress{
  background: rgba(8, 0, 25, 0.8);
border-radius: 1em;
height: 1.5em;
width: 100%;
overflow: hidden;
margin-top: 1em;

}
.bar{
  background: linear-gradient(93.05deg, #FE144D 16.77%, #8802E3 134.18%);
height: 100%;
}
.card .game-details meter{
  height: 2em;
  width: 100%;
}
.card h2 {
  font-weight: 700;
  font-size: 2rem;
}
